@CHARSET "ISO-8859-1";

.outerTableLayout{
	margin-left: 15%;
	margin-right: 15%;
	width: 70%;	
	border: groove;
	outline: blue;
	text-align:justify;
	padding: 2%;
	
	font-size: medium;
}

.formButtons{
	width: 7em;
	height: 2em;
}

.outerTableLayout .deckLayout td{
	text-align: center;	
}

.outerTableLayout .trEven{
		
}

.outerTableLayout .trOdd{
	border: thin;
	border-color: black;
	background-color: threedlightshadow;
}

.trOdd td, .trEven td{
	padding: 10px 15px;	
}

.imgClass{
	height: 180px;
	width: 140px;
}

.imgClassRadioButton{
	height: 20px;
	width: 20px;	
}

.redborder {
	border: dashed red 2px;
}