@CHARSET "ISO-8859-1";

.outerTableLayout{
	margin-left: 5%;
	margin-right: 5%;
	width: 90%;	
	border: groove;
	outline: blue;
	text-align:justify;
	padding: 2%;
	
	font-size: x-large;
}

.outerTableLayout table td{
	font-size: xx-large;
	vertical-align: middle;
}

.formButtons{
	width: 7em;
	height: 2em;
	font-size: x-large;
}

.outerTableLayout .deckLayout td{
	text-align: center;	
}

.outerTableLayout .trEven{
		
}

.outerTableLayout .trOdd{
	border: thin;
	border-color: black;
	background-color: threedlightshadow;
}

.trOdd td, .trEven td{
	padding: 10px 15px;	
}

.imgClass{
	width: 258;
	height: 336;
}

.imgClassRadioButton{
	width: 40;
	height: 40;	
}

.textBox{
	font-size: x-large;
}	